body {
  text-align : center;
  font-family: 'Roboto', sans-serif;

}

h1 {
font-family: 'Jockey One', sans-serif;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  padding:30px 0px;
}

img {
max-width:250%; 
max-height:250%;
display:block;
position:relative;
top:-300px;

}



.field {
  margin: 20px;
}

.answer {
width: 300px;
height: 200px;
margin: 0 auto 2em auto;
position: relative;
padding: 30px;
color: #000;
background: #f3961c;
left: -100px;
border-radius: 40px;
font-size: 25px;
  font-family: 'Roboto', sans-serif;

 /* default background for browsers without gradient support */
  /* css3 */
  /*background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;*/
}

.answer:after {
  content:"";
  position:absolute;
  bottom:-15px;
  left:50px;
  border-width:15px 15px 0;
  border-style:solid;
  border-color:#f3961c transparent;
  display:block;
  width:0;
}




#container{padding:0px 60px 0px 60px;}
#left-element{float:left;width:50%;overflow: hidden;height:500px;}
#right-element{float:right;}
#clearfix{clear:both;}
#submit{-webkit-appearance: none; width:120px; height:60px; background-color: #000;color:#fff;
font-size: 18px;  font-weight:bold; padding:10px;border:none;outline-color:purple }
input#username {
height: 40px;
width: 100%;
-webkit-appearance: none;
margin-top: 20px;
background-color: #f3961c;
border: 1px dashed #000;
font-size: 24px;
outline:0;
}

textarea:focus, input:focus{
    outline: 0;
}

h3{font-size: 30px}
label{font-size: 20px;}

